:root {
  --title: #a0d2db;
  --text: #c490d1;
}

html {
  /* Background image */
  background-image: url(/assets/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
#Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/assets/static.gif);
  mix-blend-mode: darken;
  opacity: 0.8;
  background-size: 50%;
  pointer-events: none;
  z-index: -1;
}

h1 {
  color: var(--title);
}

h2 {
  color: #ff69b4;
}

body {
  text-align: justify-center;
  color: var(--text);
  font-family: "Jersey 15", serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 600px;
  margin: auto;
  background: #222;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

ul {
  list-style-type: none;
  padding: 0;
}
li::before {
  content: "👉 ";
}
