---
import KillEmAllLayout from "../layouts/KillEmAllLayout.astro";
import Window from "../components/Window.astro";
import MainTitle from "../components/MainTitle.astro";
---

<MainTitle />

<KillEmAllLayout title="We have faith (for sure!)">
  <Window title="Drink Menu">
    <p>
      Welcome to the bar, Thiago.<br /> Time to mix some drinks and change some lives.
    </p>
  </Window>

  <Window title="Status">
    <p>System online.<br />Color palette active.<br />Neon powered.</p>
  </Window>
</KillEmAllLayout>
