---
import MainTitle from "../components/MainTitle.astro";


---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>We have faith! (yes)</title>
	</head>
	<body>
    <MainTitle />
	</body>
</html>
